* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body {
    height: 100vh;
    width: 90%;
    margin-left: 2%;
    background-image: url("./images/background/back.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.heading {
    text-align: center;
    padding: 2%;
}

.masterDiv {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-right: 4%;
}

.navBar {
    position: sticky;
    top: 0;
    height: 15vh;
    padding: 1%;
    display: flex;
    align-items: center;
    border-radius: 5%;
    background-color: rgba(0, 0, 0, 0.4);
    color: #f0f0f0;
    justify-content: space-evenly;
    z-index: 10; 
    margin-bottom: 2%;
}

.navBarOptions {
    display: flex;
    justify-content:flex-end;
    width: fit-content;
    gap: 0;
    width: 100%;
    align-items: center;
    height: 10%;
    transition: 0.5s;
}

.navElements {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2%;
    gap: 4%;
    margin-top: 2%;
    height: 5%;
    margin-bottom: 2%;
    text-align: center;
    border: 2px solid black;
    border-radius: 5%;
    transition: 0.3s linear;
    cursor: pointer;
}

.navElements:hover {
    border: 5px solid white;
}
.navElements:hover .iconsvg image {
    fill: #000000;
}

.adjust {
    padding: 2%;
    font-size: large;
}

#ingridentsSelect {
    appearance: none;
    background-color: #f0f0f0;
    border: 2px solid #007bff;
    border-radius: 5px;
    padding: 1%;
    font-size: 16px;
    cursor: pointer;
    width: 50%;
    margin-top: 2%;
    margin-left: 25%;
    background-repeat: no-repeat;
    border-radius: 2%;
    transition: 1s;
    z-index: 3;
}

#ingridientsLabel {
    text-align: center;
    padding-top: 2%;
}

#ingridientsLabel h3 {
    padding-top: 10%;
}

#ingridentsSelect:hover {
    background-color: #007bff;
    color: white;
}

#ingridentsSelect:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.25);
}

#ingridentsSelect option {
    padding: 10px;
    background-color: #f0f0f0;
    color: #333;
    font-size: 16px;
    z-index: 2;
}

#ingridentsSelect option:hover,
#ingridentsSelect option:focus {
    background-color: #007bff;
    color: white;
}

#selectedItems {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
    min-height: 10%;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 2%;
}

.selected-item {
    display: flex;
    align-items: center;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 5px 10px;
    color: black;
}

.remove-btn {
    background: none;
    border: none;
    color: #ff0000;
    cursor: pointer;
    font-size: 18px;
    margin-left: 5px;
}

.maincontainer {
    position: relative;
    width: 250px;
    height: 320px;
    background: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.thecard {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transform-style: preserve-3d;
    transition: all 1.5s ease;
}

.thecard:hover {
    transform: rotateY(180deg);
}

.thefront,
.theback {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    backface-visibility: hidden;
    overflow: hidden;
}

.thefront {
    background: #ffc728;
    color: #000;
}

.theback {
    background: #fafafa;
    color: #333;
    text-align: center;
    transform: rotateY(180deg);
}

.thefront h1,
.theback h1 {
    font-family: 'zilla slab', sans-serif;
    padding: 30px;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
}

.thefront p,
.theback p {
    font-family: 'zilla slab', sans-serif;
    padding: 30px;
    font-weight: normal;
    font-size: 12px;
    text-align: center;
}

.imageDivClass {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.cardBtn {
    font-size: large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 2%;
    background-color: #007bff;
    color: #fafafa;
    transition: 1s;
}

.cardBtn:hover {
    background-color: #2d42e1;
    cursor: pointer;
}

.cardImage {
    width: 90%;
    margin-bottom: 2%;
    object-fit: cover;
    border-radius: 5%;
}

.recipiesDisplay {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 5%;
}

#logoimg {
    height: 10vh;
}

.divHead {
    display: flex;
    align-items: center;
    margin: 3%;
}

.iconsvg {
    height: 5vh; 
    width: 5vh; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.iconsvg img {
    max-width: 100%;
    max-height: 100%;
}

.logo {
    display: flex;
    justify-content: center;
    width: 25%;
    padding: 2%;
}

.logo .iconsvg {
    position: relative;
    display: flex;
    height: 100%;
    width: 100%;
}